#header{
    background-color: rgb(211, 182, 85);
    text-align: center;
}

.profil{
    text-align: center;
}
.B{
    display: inline;
    color: blue;
    font-size: large;
}
.gambar{
    width: 10px;
}